<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">About LitCurate</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Tool</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Who we are?</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Roadmap</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Development</h2>
      </div>
    </div>
  </div>
</div>
