<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LitCurate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="litcurate.js"></script>
    <style type="text/css">
      body { padding-top: 70px; }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">LitCurate</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if login? %>
            <li><a href="<%=h session[:url] %>">
                <img src="<%=h session[:image] %>" style="width:24px;height:24px"/>
                <%=h session[:name] %></a></li>
          <% else %>
            <li><a href="/auth/mendeley"><span class="glyphicon glyphicon-log-in"></span> Login with Mendeley</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if login? %>
    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group">
              <label for="folders">Folder</label>
              <select class="form-control" id="folders">
                <option>[select target folder]</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Documents</p>
            <ul id="documents" class="list-unstyled">
              <li class="btn btn-default btn-sm">Saito,2012</li>
              <li class="btn btn-default btn-sm">White,2009</li>
              <li class="btn btn-default btn-sm">Kelly,2012<li>
              <li class="btn btn-default btn-sm">Kando,2000</li>
              <li class="btn btn-default btn-sm">Marchionini,2006</li>
              <li class="btn btn-default btn-sm">Sakai,2016</li>
              <li class="btn btn-default btn-sm">Vakkari,2015</li>
              <li class="btn btn-default btn-sm">Liu,2016</li>
              <li class="btn btn-default btn-sm">Song,2016</li>
            </ul>
          </div>
          <div class="col-sm-10">
            <p>Annotations</p>
            <p>
              <a href="/news_axis">New...</a>
            </p>
            <ul id="axis" class="list-unstyled">
              <li class="btn btn-default">methodology</li>
              <li class="btn btn-default">genre</li>
            </ul>
            <table id="annotations">
            </table>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
