<% if login? %>
  <div class="container-fluid">
    <div class="content">
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="folders">Folder</label>
            <select class="form-control" id="folders">
              <option>[select target folder]</option>
              <% @folders.try(:each) do |folder| %>
              <option value="<%=h folder["id"] %>"><%=h folder["name"] %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p>Documents</p>
          <ul id="documents" class="list-unstyled">
            <li class="btn btn-default btn-sm">Saito,2012</li>
            <li class="btn btn-default btn-sm">White,2009</li>
            <li class="btn btn-default btn-sm">Kelly,2012<li>
            <li class="btn btn-default btn-sm">Kando,2000</li>
            <li class="btn btn-default btn-sm">Marchionini,2006</li>
            <li class="btn btn-default btn-sm">Sakai,2016</li>
            <li class="btn btn-default btn-sm">Vakkari,2015</li>
            <li class="btn btn-default btn-sm">Liu,2016</li>
            <li class="btn btn-default btn-sm">Song,2016</li>
          </ul>
        </div>
        <div class="col-sm-10">
          <p>Annotations</p>
          <p>
            <a href="/news_axis" id="new_annotation">New...</a>
          </p>
          <ul id="axis" class="list-unstyled">
            <li class="btn btn-default">methodology</li>
            <li class="btn btn-default">genre</li>
          </ul>
          <table id="annotations" class="table table-bordered">
            <tr>
              <th>Positive</th>
              <th>Neutral</th>
              <th>Negative</th>
            </tr>
            <tr>
              <td class="item-cell"></td>
              <td class="item-cell"></td>
              <td class="item-cell"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
