table#annotations,
table#annotations td,
table#annotations th {
  border: blue dashed 1px;
  padding: 5px;
}
.item-cell {
  min-height: 150px;
  width: 100%;
}

.litcurate-alert {
  position: fixed;
  bottom: 25%;
  right: 10px;
  margin-bottom: 0;
  font-size: 1.2em;
  padding: 1em 1.3em;
  z-index: 2000;
}
